<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Prediccion de cancer de mama</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="form" class="row g-3 needs-validation" (ngSubmit)="onSubmit()">

              <div class="col-md-6">
                <label for="inputNombre">
                  <i 
                    class="bi bi-info-circle-fill mb-3"
                    placement="top"
                    ngbPopover="Se refiere al nombre de la paciente."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                    ></i>
                  Nombre
                </label>
                <input
                  type="text"
                  class="form-control w-10"
                  id="inputNombre"
                  placeholder="Armando mendoza..."
                  formControlName="fullname"
                  [ngClass]="{
                    'is-invalid':
                      form.get('fullname')?.invalid &&
                      form.get('fullname')?.touched
                  }"
                />
                <div class="invalid-feedback">
                  Campo nombre es obligatorio.
                </div>
              </div>
              <div class="col-md-6">
                <label for="inputIdentificacion">
                  <i 
                    class="bi bi-info-circle-fill" 
                    placement="top" 
                    ngbPopover="Cedula de la paciente."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  Identificación
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="inputIdentificacion"
                  placeholder="xxxxxxxxxx"
                  formControlName="identificationcard"
                  [ngClass]="{
                    'is-invalid':
                      form.get('identificationcard')?.invalid &&
                      form.get('identificationcard')?.touched
                  }"
                  min="0"
                  (input)="limitarLongitudMax()"
                />
                <div class="invalid-feedback">
                  Campo Identificación es obligatorio.
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                <label for="rangoEdad">
                  <i 
                    class="bi bi-info-circle-fill"
                    placement="top"
                    ngbPopover="Se refiere a la edad del paciente en años."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                    ></i>
                  Rango de Edad: <strong> {{ age }}</strong>
                </label>
                  <input
                    type="range"
                    class="form-control"
                    id="rangoEdad"
                    min="10"
                    max="90"
                    formControlName="age"
                    (input)="actualizarRangoEdad($event)"
                    [ngClass]="{
                      'is-invalid':
                        form.get('age')?.invalid && form.get('age')?.touched
                    }"
                  />
                  <div class="invalid-feedback">
                    Campo edad es obligatorio.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="inputMenopause">
                  <i 
                    class="bi bi-info-circle-fill"
                    placement="top"
                    ngbPopover="Se refiere al estado de la menopausia de la paciente en años."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                    ></i>
                  Menopausia
                </label>
                <select
                  class="form-select"
                  id="inputMenopause"
                  formControlName="menopause"
                  [ngClass]="{
                    'is-invalid':
                      form.get('menopause')?.invalid &&
                      form.get('menopause')?.touched
                  }"
                >
                  <option value="premeno">Premenopausia</option>
                  <option value="lt40">Menos de 40 años</option>
                  <option value="ge40">Mayor o igual a 40 años</option>
                </select>
                <div class="invalid-feedback">
                  Campo Menopausia es obligatorio.
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="tumorSize">
                    <i 
                      class="bi bi-info-circle-fill"
                      placement="top"
                      ngbPopover="Se refiere al tamaño del tumor detectado en el paciente."
                      triggers="mouseenter:mouseleave"
                      popoverTitle="Informacion"
                      [openDelay]="300"
                      [closeDelay]="500"
                    ></i>
                    Tamaño del Tumor: <strong> {{ tumorSize }}</strong>
                  </label>
                  <input
                    type="range"
                    class="form-control"
                    id="tumorSize"
                    min="0"
                    max="55"
                    step="1"
                    formControlName="tumorSize"
                    (input)="actualizarTamanoTumor($event)"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="rangoGanglios">
                    <i 
                      class="bi bi-info-circle-fill mb-3" 
                      placement="top" 
                      ngbPopover="Esta característica indica cuántos ganglios linfáticos están afectados o invadidos por las células cancerosas."
                      triggers="mouseenter:mouseleave"
                      popoverTitle="Informacion"
                      [openDelay]="300"
                      [closeDelay]="500"
                    ></i>
                    Estado de Ganglios Invasivos: <strong>{{ invNodes }}</strong>
                  </label>
                  <input
                    type="range"
                    class="form-control"
                    id="rangoGanglios"
                    min="0"
                    max="36"
                    step="1"
                    formControlName="invNodes"
                    (input)="actualizarGangliosInvasivos($event)"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label for="nodecaps">
                  <i 
                    class="bi bi-info-circle-fill" 
                    placement="top" 
                    ngbPopover="Se refiere a si las cápsulas que rodean los nodos linfáticos están afectadas o no por el cáncer."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  Capas de Nodos
                </label>
                <select
                  class="form-select"
                  id="nodecaps"
                  formControlName="nodecaps"
                  [ngClass]="{
                    'is-invalid':
                      form.get('nodecaps')?.invalid &&
                      form.get('nodecaps')?.touched
                  }"
                >
                  <option value="yes">Sí</option>
                  <option value="no">No</option>
                </select>
                <div class="invalid-feedback">
                  Campo Capas de nodos es obligatorio.
                </div>
              </div>
              <ng-template #tipContent>
                Se refiere al grado de malignidad del tumor. Aquí hay una breve explicación de lo que podría significar:
                <p>1: Indica un grado bajo de malignidad del tumor.</p>
                <p>2: Indica un grado moderado de malignidad del tumor.</p>
                <p>3: Indica un grado alto de malignidad del tumor.</p>
              </ng-template>
              <div class="col-md-6">
                <label for="degMalig">
                  <i 
                    class="bi bi-info-circle-fill" 
                    placement="top" 
                    [ngbPopover]="tipContent"
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  Grados Malignos
                </label>
                <select
                  class="form-select"
                  formControlName="degMalig"
                  id="degMalig"
                  [ngClass]="{
                    'is-invalid':
                      form.get('degMalig')?.invalid &&
                      form.get('degMalig')?.touched
                  }"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="breast">
                  <i 
                    class="bi bi-info-circle-fill" 
                    placement="top" 
                    ngbPopover="Se refiere al lado del pecho en el que se encuentra el tumor."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  mama
                </label>
                <select
                  class="form-select"
                  id="breast"
                  formControlName="breast"
                  [ngClass]="{
                    'is-invalid':
                      form.get('breast')?.invalid && form.get('breast')?.touched
                  }"
                >
                  <option value="left">Izquierda</option>
                  <option value="right">Derecha</option>
                </select>
                <div class="invalid-feedback">
                  Campo mama es obligatorio.
                </div>
              </div>

              <div class="col-md-6">
                <label for="breastQuad">
                  <i 
                    class="bi bi-info-circle-fill mb-3" 
                    placement="top" 
                    ngbPopover="Se refiere a la ubicación del tumor en el cuadrante del seno."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  Cuadrante mamario
                </label>
                <select
                  class="form-select"
                  id="breastQuad"
                  formControlName="breastQuad"
                  [ngClass]="{
                    'is-invalid':
                      form.get('breastQuad')?.invalid &&
                      form.get('breastQuad')?.touched
                  }"
                >
                  <option value="left_up">Izquierda Arriba</option>
                  <option value="left_low">Izquierda Abajo</option>
                  <option value="right_up">Derecha Arriba</option>
                  <option value="right_low">Derecha Abajo</option>
                  <option value="central">Central</option>
                </select>
                <div class="invalid-feedback">
                  Campo Cuadrante mamario es obligatorio.
                </div>
              </div>

            <div class="form-row">
              <div class="col-md-6">
                <label for="irradiat">
                  <i 
                    class="bi bi-info-circle-fill"
                    placement="top" 
                    ngbPopover="Se refiere a si el paciente ha recibido radioterapia."
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  recibio Radioterapia?
                </label>
                <select
                  class="form-select"
                  id="irradiat"
                  formControlName="irradiat"
                  [ngClass]="{
                    'is-invalid':
                      form.get('irradiat')?.invalid &&
                      form.get('irradiat')?.touched
                  }"
                >
                  <option value="yes">Sí</option>
                  <option value="no">No</option>
                </select>
                <div class="invalid-feedback">
                  Campo Radioterapia es obligatorio.
                </div>
              </div>

              <div class="form-check form-switch col-md-6 mb-5">
                <input 
                class="form-check-input" 
                type="checkbox" 
                id="flexSwitchCheckChecked"
                formControlName="saveResult"
                [ngClass]="{
                  'is-invalid':
                    form.get('saveResult')?.invalid &&
                    form.get('saveResult')?.touched
                }" checked>
                <label for="flexSwitchCheckChecked" class="form-check-label">
                  <i 
                    class="bi bi-info-circle-fill" 
                    placement="top" 
                    ngbPopover="Esto es para indicar si se quiere guardar la prediccion o no"
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Informacion"
                    [openDelay]="300"
                    [closeDelay]="500"
                  ></i>
                  deseas Guardar el resultado?
                </label> 
              </div>
            </div>

            <button 
              type="submit"
              class="btn btn-primary"
              #btnSubmit
              (mouseenter)="agregarAtributos()"
              (mouseleave)="quitarAtributos()">enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <ol class="list-group">
              <li class="list-group-item">
                Correctas: <strong>{{ datos.correctas }}</strong>
              </li>
              <li class="list-group-item">
                Incorrectas: <strong>{{ datos.incorrectas }}</strong>
              </li>
              <li class="list-group-item">
                Porcentaje de Correctas:
                <strong>{{ datos.correctasPorcentaje }}</strong>
              </li>
              <li class="list-group-item">
                Porcentaje de Incorrectas:
                <strong>{{ datos.incorrectasPorcentaje }}</strong>
              </li>
              <li class="list-group-item">
                Resultado: <strong>{{ resultConvert(datos.Resultado) }}</strong>
              </li>
            </ol>
            <strong>
              <p *ngIf="!loading" [innerHTML]="sugerencias_IA" [style.white-space]="'pre-line'"></p>
              <div class="d-flex justify-content-center">
                <div class="spinner-grow" role="status" *ngIf="loading">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </strong
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sugerenciasIA()" [disabled]="(sugerencias_IA || datos.length == 0)">
          SUGERENCIAS
        </button>
      </div>
    </div>
  </div>
</div>
<br>