<div>
<nav class="navbar navbar-expand-lg navbar-light  " style="background: linear-gradient(70deg, #c471f5 0%, #fa71cd 100%);" >
  <!--linear-gradient(70deg, blue, pink); -->
  <div class="container-fluid " >
    <a class="navbar-brand" href="#"><h1>PinkVue</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/information"><h5>proyecto</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><h5>infomation</h5></a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>